# The manifest for the "tasks" service.
# Read the full specification for the "Backend Service" type at:
#  https://aws.github.io/copilot-cli/docs/manifest/backend-service/

# Your service name will be used in naming your resources like log groups, ECS services, etc.
# Your service is reachable at "http://tasks.${COPILOT_SERVICE_DISCOVERY_ENDPOINT}:8080" but is not public.
name: tasks
type: Backend Service

# Configuration for your containers and service.
# Docker build arguments. For additional overrides: https://aws.github.io/copilot-cli/docs/manifest/backend-service/#image-build
image:
  build:
    dockerfile: ../../backend/java-timer-service-quarkus/Dockerfile.multistage-arm64
  port: 8080
  healthcheck:
    command: [ "CMD-SHELL", "curl -f http://localhost:8080/index.html || exit 1" ]
    interval: 30s
    retries: 2
    timeout: 5s
    start_period: 0s

cpu: 256                    # Number of CPU units for the tasks.
memory: 512                 # Amount of memory in MiB used by the tasks.
platform: linux/arm64       # See https://aws.github.io/copilot-cli/docs/manifest/backend-service/#platform
count: 1                    # Number of tasks that should be running in your service.
exec: true                  # Enable running commands in your container.

# Pass environment variables as key value pairs.
variables:
  QUARKUS_DYNAMODB_AWS_CREDENTIALS_TYPE: container
  QUARKUS_DYNAMODB_AWS_REGION: aws_region
  TASKS_TIME_ZONE_ID: -05:00

# You can override any of the values defined above by environment.
environments:
  dev:
    variables:
      QUARKUS_PROFILE: dev
      QUARKUS_OIDC_AUTH_SERVER_URL: https://cognito-idp.aws_region.amazonaws.com/cognito_user_pool_id
    deployment:
      rolling: 'recreate'
